.messages {
  display: flex;
  flex-direction: column;
}

.message {  
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #ddd;
  width: 14rem;  
  text-align: left;
  font: 1em 'Segoe UI', sans-serif;
}