header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  position: sticky;
  height: 4rem;
  background-color: #35A4FC;  
  padding-right: 2rem;
}

header a, .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;  
  cursor: pointer;
}

header .sep {
  display: inline;
  width: 2px;
  height: 30px;
  background-color: #fff;
  margin: 0 1rem;
}

header .profile__img {
  width: 40px;
  height: 40px;

  border: 3px solid #fff;  
  border-radius: 50%;

  overflow: hidden;
  box-shadow: #64646475 0 0 10px;
}

header .profile__img img {
  transform: scale(0.5) translate(-50%, -40%);  
}

@media (min-width: 600px) {
  header {   
    justify-content: flex-end;    
  }
}