.drawer {
  min-width: 250px;
}

.drawer-mobile {
  min-width: 375px;
}

.chat-list {
  min-width: 250px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow: hidden;
}

.chat-list-mobile {
  min-width: 375px;
}

.chat-list a {
  text-decoration: none;
  color: black;
}
