.chat-room__input {
  display: flex;    
  height: 2.5rem;
  gap: 0.2rem;
  padding: 0.6rem;
  background-color: #e7f1f3;
  border-top: 1px solid #c0d4d8;
}      

.chat-room__text-field {
  background-color: #fff;
}